:root{
  --font-primary: 'Inter', sans-serif;
}

#root *{
  box-sizing: border-box;
}

body {
  margin: 0;
  z-index: 0;
  width: 100vw;
  background: black;
}

.btn{
  cursor: pointer;
  transition: all .3s ease;
}

h1,
h2 {
  font-family: var(--font-primary);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

div#root ul.List{
  margin: 0!important;
  padding: 0!important;
}

div#root ul.List.TaskList{
  display: flex;
  flex-wrap: wrap;

  /*definir gap*/
  gap: 16px;
  width: 100%;
  justify-content: space-between;
}

div#root ul.TaskList li.task{
  width: 100%;
  max-width: calc(50% - 8px);
  border-radius: 8px;
  background: white;
}

div#root ul.TaskList li.task a.taskButton{
  width: 100%;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

div#root ul.TaskList li.task div.task-attr h3.taskTitle{
  margin: 0!important;
}

div#root ul.TaskList li.task div.task-attr p.taskDescription{
  margin: 0!important;
}



div#root ul.List>li::marker{
  display: none!important;
  color: transparent
}

div#root .ModalWrapper{
  position: fixed;  
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

div#root .ModalCover{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur();  
  height: 100%;
  width: 100%;
}

div#root .Title{
  margin: 0!important;
}

div#root .ModalWrapper .ModalContainer{
  height: fit-content;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

div#root .ModalWrapper .ModalContainer .ModalTaskView{
  height: auto;
  width: 100%;
  background: white;
  border-radius: 24px;
}

div#root .ModalWrapper .ModalContainer .ModalTaskDelete{
  height: fit-content;
  width: 50%;
  background: white;
  border-radius: 24px;
}

div#root div.TaskView{
  height: 100%;
  width: 100%;  
}

div#root .hide{
  display: none!important;
}