div.TaskWidget{
    width: 100%;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 24px;
}

div.TitleOptionsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 24px;
}

div.OptionsContainer{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 24px;
}

div.SortContainer{
    display: flex;
    width: calc(50% - 12px);
    justify-content: center;
    height: 100%;
}

button.TaskAdd{
    background: #29ff34;
    padding: 12px 16px;
    border: 0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    width: calc(50% - 12px);
}

button.TaskAdd:hover{
    background: #00ff0d; 
}