.EnumSelect{
    display: flex;
    width: 100%;
    cursor: pointer;
    text-align: center;
    justify-content: center;    
    background: transparent;
    border: 0;
    transition: all .3s ease;
}

.EnumSelect:hover{
    background: #cacaca;
}